.book-summary-card {
    width: 40%;
    margin: 0 auto;
    height: 50em;
    background-color: white;
    border: 1px solid gainsboro;
}

.bs-theaterinfo {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 40em;
    margin: 0 auto;
}

.ti-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.underline {
    height: 1px;
    width: 95%;
    margin: 0 auto;
    background-color: black;
}

.ti-book {
    height: 4em;
    background-color: #f84565;
    border: none;
    outline: none;
    border-radius: 10px;
}